* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

#two {
    position: static;
 /*  
    - este es el posicionamiento default de los elementos
    - no se pueden usar propiedades de top,bottom, left o right 
*/
    background-color: green;
}