:root {

    --azul-principal: #009fe3;
    --gris-fuente: #4d494a;
    --azul-wave: #e0f0fa;
    --white: #fff;
    --slide-transform: 0;
    --transition: transform 1s;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    position: relative;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--gris-fuente);
    min-width: 370px;

}

.container__all {
    margin-top: 100px;
    position: relative;
    right: 0;
    transition: all 1s;


}

header {
    width: 100%;
    height: 100px;
    box-shadow: 1px 1px 40px #0000005e;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(251, 249, 249);
    transition: all 1s;
}

.move_content {
    right: 280px;
}

.container__header {

    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 0 20px;

}

.container__logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.logo_a {

    text-decoration: none;
    outline: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: var(--gris-fuente);

}

.container__logo__text {
    color: --gris-fuente;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gris-fuente);

}


.logo__img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 10px 10px 92px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 92px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 92px -8px rgba(0, 0, 0, 0.75);
}

.container__nav {
    width: 100%;
    position: relative;

}

.menu {
    height: 100%;
}

.menu__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu__item {
    list-style: none;
    margin: 0 20px;
}

.menu__link {
    color: var(--gris-fuente);
    font-size: 1rem;
    text-decoration: none;
}

.select {
    display: inline-block;
    background-color: var(--azul-principal);
    padding: 10px 30px;
    color: var(--white);
    border-radius: 60px;
}

.nav_mod {
    height: 60px;
    box-shadow: 1px 1px 40px #0000005e;
    transition: all 1s;
}

.btn__menu {
    width: 70px;
    height: 100%;

    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 1s;
    display: none;
}

.btn__menu:hover {
    font-size: 1.8rem;
}



.cover {
    width: 100%;
    background-color: transparent;

    height: 100vh;
    margin-top: 100px;
    padding-bottom: 70px;
    color: var(--white);
}

.container__cover {

    max-width: 1200px;
    height: 700px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}



.container__info {
    width: 50%;
}

.container__vector {
    width: 50%;
}

.container__info__title {
    font-weight: 400;
    font-size: 2.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container__info__subtitle {
    font-weight: 900;
    font-size: 2.9rem;

    color: var(--azul-principal);
}

.container_info_p {
    margin-top: 30px;
    line-height: 1.6;
    letter-spacing: 1.7px;
}

.container__img {
    position: relative;
    left: 30px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 20px solid var(--azul-principal);
    right: 0;


}

.contacto {
    background-color: pink;
    width: 100%;
    height: 100vh;
}

.curva {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
    width: 400px;
    height: 1000px;
}



img {
    max-width: 100%;
}

.slider-container {

    margin-top: 120px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #fff;
    overflow: hidden;

}

.slider {
    display: flex;
    transform: translateX(var(--slide-transform));
    transition: var(--transition);
}

.slider__element {
    border-radius: 30px;
    min-width: 100%;
    height: 50vh;
    text-align: center;

}

.slider__element__p {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.slider__element--lightcoral {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.383) 100%, rgba(2, 0, 36, 0.77) 100%), url('../assets/img/slider/eco1.jpg');
    background-position: center;
    color: var(--white);
    background-size: cover;
}

.slider__element--lightgreen {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.383) 100%, rgba(2, 0, 36, 0.77) 100%), url('../assets/img/slider/eco2.jpg');
    background-position: center;
    color: var(--white);
    background-size: cover;
}

.slider__element--lightskyblue {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.383) 100%, rgba(2, 0, 36, 0.77) 100%), url('../assets/img/slider/eco3.jpg');
    background-position: center;
    color: var(--white);
    background-size: cover;
}


.slider-buttons {

    position: relative;
    display: flex;
    /*  justify-content: space-between; */
    align-items: center;
    height: 100px;
    width: 100%;
    /* gap: 4px; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background: none;
    border: none;
    background-color: var(--gris-fuente);
    /* border-radius: 50%; */
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
}

.button--left {
    border-radius: 10px 0 0 10px;
}

.button--right {
    border-radius: 0 10px 10px 0;
}

.button:active {
    transform: scale(0.9);
}

.quienes {

    width: 100%;
    height: 100%;
    background-color: var(--azul-principal);
    padding-bottom: 100px;
}

.works {

    width: 90%;
    margin: 0 auto;
    padding-top: 20px;


}

.work-item__title {
    color: var(--white);
    padding: 10px;
    border-bottom: 1px solid var(--white);
    margin-bottom: 15px;
}

.work-item__text {
    /* text-align: justify; */
    color: var(--white);
    padding: 5px;
    line-height: 1.8;
}

.button__oferte {

    display: inline-block;
    background-color: var(--azul-principal);
    color: var(--white);
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    /*    border-radius: 50px; */

}

.parrafo {
    font-size: 1.5rem;
}

.inicio {
    margin-top: 25px;
    font-size: 3rem;
    font-weight: bolder;
    border-radius: 10px;
    border: 5px solid var(--white);
    padding: 20px;
}

.ventajas_container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1200px;
    background-color: var(--azul-principal);


}

.ventajas__header {
    width: 90%;
    margin: 0 auto;
}

.ventajas__title {
    text-align: center;
    margin: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.item__icon {

    width: 50px;
}

.item__icon:hover {
    width: 100px;
    filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
    transition: all 300ms;
}

.item__title {
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}


.item__text {
    text-align: center;
    font-size: .8rem;
    line-height: 2;
    padding: 10px 40px;
}

.slider__element_title {
    font-size: 2rem;
}

.extra_tittle {
    font-size: 3rem;
}

.slider__element_subtitle {

    color: var(--azul-principal);
    font-size: 2rem;
}


/* Programa academico */
.container {
    position: relative;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    height: 250px;
    background-color: #fff;
    display: flex;
    margin: 30px 0;
    border-radius: 15px;
}

.container .card .imgBX {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: #333;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 100ms ease-in-out;

}

.container .card:hover .imgBX {
    width: 150px;
    height: 150px;
    left: -120px;
    top: calc(50%-75px);
    transition: 600ms ease-in-out;
    background-color: var(--azul-principal)
}

.container .card:hover {
    box-shadow: 10px 10px 41px -25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 41px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 41px -25px rgba(0, 0, 0, 0.75);

}

.container .card .imgBX:before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(40%);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.389);
    font-weight: bolder;

}

.container .card .imbBx img {
    max-width: 100px;
    transition: 600ms ease-in-out;

}

.container .card:hover .imbBx img {
    max-width: 75px;

}

.container .card .content {
    position: relative;
    right: 0;
    width: calc(100%-75px);
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .inicio_de_curso {
    /*   position: absolute;
    top: 10px;
    right: 10px; */
    width: 130%;
    text-align: center;
    background-color: var(--gris-fuente);
    color: var(--white);
    padding: 4px;
}

.container .card .content h3 {
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.container .card .content a {

    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--azul-principal);



    display: inline-block;
    background-color: var(--azul-principal);
    color: var(--white);
    width: 200px;

    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

.modulo__contenido {
    list-style: none;
}


@media screen and (max-width: 428px) {
    .container {
        gap: 30px;
    }

    .container .card {
        max-width: 300px;

    }

    .btn__menu {
        display: flex;

    }

    nav {
        height: 100%;
        background-color: rgb(251, 249, 249);
        position: fixed;
        top: 0;
        right: -300px;
        padding: 0 40px;
        transition: all 1s;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);


    }

    .move_nav {
        right: 0;
    }

    .menu__list {
        margin-top: 150px;
        justify-content: flex-start;
        flex-direction: column;
    }

    .menu__item {
        margin: 20px 0;
    }

    .works {
        display: flex;
        gap: 20px;

    }

    .work-item__title {
        border: none;
    }

    .ventajas_container {
        width: 100%;
        margin: 0 auto;
    }


}

@media screen and (min-width: 810px) {

    .container {
        gap: 30px;
    }

    .container .card {
        max-width: 350px;

    }

    .ventajas_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        background-color: var(--azul-principal);
        margin-bottom: 100px;
    }

    .items {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .renglon1, .renglon2 {
        display: flex;
    }
}

/* @media screen and (min-width: 375px) {
       .slider__element_title {
        color: white;
        font-size: 1.5rem;

    }


    .ventajas_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
    }

    .items {
        flex-direction: column;
    }

    .works {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
 

} */