.box {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.box1 {
    width: 90%;
    background: steelblue;
    border: 1px solid transparent;
}

.box2 {
    
    background: tomato;
    padding: 30px;
    border-radius: 90px 0px;
    overflow: scroll;
    text-align: justify;
}

.header {
    margin-top: 10px;
    background: gold;
    height: 40px;
    width: 100%;
}