* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

header {
    display: flex;
    justify-content: space-between;
    background: gray;
    padding: 2rem;
}

.menu__item {
    text-decoration: none;
    color: black;
    padding: 2rem 0.3rem;
}

main {
    background-color: #ddd;
    display: flex;
}

footer {
    background: lightblue;
}
aside{
    padding: 0.5rem;
    width: 30%;
    border: 1px solid black; /* borrar */
}
aside p {
    padding: 1rem;
    background: #333;
    color: white;
    border: 1px solid black;
}
section{
    padding: 1rem;
    width: 70%;
    background: rgb(67, 67, 67);
    border: 1px solid black;
    color: white;
}