* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 500vh;
}

.container {
    width: 90%;
    margin: 40px auto;
    border: 5px solid black;
    /*    
   si container se declara position: relative; el cuadro de absolute pasara
   a la esquina inferior derecha del recuadro, mas no del viewport */
}

.element {
    margin: 5px;
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
}

.static {
    background-color: tomato;
}

.relative {
    background-color: steelblue;
    position: relative;
    left: 50px;
}

.absolute {
    /*   
    sale del flujo
    se posiciona tomando como referencia su padre con posicionamiento 
    diferente de static */
    position: absolute;
    background-color: teal;
    bottom: 0px;
    right: 0px;
}

.fixed {
    background-color: crimson;
    position: fixed;
    /*   sale del flujo
    se posiciona respecto al viewport */
}