* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bgcolor: #333;
  --bcgcard:#FFF;
  --card_text_color:#333;

}

body {
  margin: 0;
  padding: 2em;
  background-color: var(--bgcolor);
  font-family: 'Ubuntu', sans-serif;
}
body.claro{

  --bgcolor: #fff;
  --bcgcard:#333;
  --card_text_color:#fff;

}
ul {
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.instagram {

  border-radius: 50%;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


.card {
  position: relative;
  width: 500px;
  height: 275px;
  margin: 0 auto 1em;
  padding: 1em;
  background-color: var(--bcgcard);
  color: var(--card_text_color);
  border-radius: .7em;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, .25);
}
.card--blue {
  background-color: lightblue
}

.card__title {
  margin: 0;
  /* todos los h tienen implicito un margen, por eso se resetea */
  font-size: 2rem;
}

.card__text {

  width: 250px;
  line-height: 1.5;
}

.card__img {
  position: absolute;
  bottom: 0;
  right: 1em;
  width: 200px;

}

.social-list {

  position: absolute;
  bottom: 1em;
}

.social-list__item {
  display: inline-block;
  width: 45px;
  margin-right: 1em;
}

