*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia;
}

/* contenido */

.card{
    margin: 0 auto;
    margin-top: 10rem;
    background-color: steelblue;
    color: white;
    width: 200px;
    padding: 3  0px;
    max-height: 400px;
    overflow: scroll;
    border-radius: 10px;

}

.card__p{
   
}

.btn{
    background-color: cadetblue;
}