*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: serif;
}
.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
/* 
@media (max-width: 320px){
    body{

        background-color: black;
    }
}

@media (min-width: 320px){
    body{
        background-color: steelblue;
    }
} 
*/
@media (min-width: 320px){
    .img{
        width: 80%;
        border-radius: 20px;
    }
} 