* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
 

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
    width: 100%;
    min-width: 130px;
    height: 100px;
}

.c1 {
    background-color: #003476;
}

.c2 {

    background-color: #0062d2;
}

.c3 {

    background-color: #b4d2f7;
}

.c4 {
    height: auto;
    background-color: #d5dfef;
}

.c5 {
    background-color: #dfe1e5;
}
.cont2{
    width: 100%;
}
.c6 {
    background-color: red;
}

.c7 {
    height: auto;
    
    background-color: aquamarine;
}

.c8 {
    background-color: yellow;
}

.c9 {
    background-color: green;
}

.c10 {
    background-color: black;
}
